@import '../components/index.pcss';

.pg-signin {
    width: 100vw;
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: var(--base-background);

    &_box{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--base-content);
    }
}