.cr-loginResult {

    &-box {
        margin-top: 20px;
        text-align: center;

        &-comment {
            font-weight: 400;

            &_success {
                color: green;
            }

            &_failure {
                color: red;
            }
        }

        &_retry {
            &:hover{
                cursor: pointer;
                color: blue;
                text-decoration: underline;
            }
        }
    }
}